html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  outline: none;
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

* {
  border: none;
  background: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: default;
}

.container {
  margin: 0 auto;
  width: 1440px;
  background: url("../img/bg-color.png");
}

.block_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 78px 132px 0 112px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 107px;
}

.block_head__links {
  margin-right: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: -0.53px;
  color: #75757c;
}

.block_head__links:first-child {
  font-weight: 900;
  color: #232323;
}

.block_head__links:last-child {
  margin-right: 0px;
}

.block_head__btn {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding: 16px 55px;
  border-radius: 5px;
  border: solid 3px #232323;
  background-color: #e9e7e7;
  color: #232323;
  cursor: pointer;
}

.block_head__btn:hover {
  background-color: #232323;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 132px 0 112px;
  margin-bottom: 159px;
}

.block_header__cont {
  margin-right: 106px;
}

.block_header__title {
  font-family: 'Cardo', serif;
  font-size: 82px;
  color: #232323;
  margin-bottom: 18px;
}

.block_header__descr {
  font-family: 'Lato', sans-serif;
  font-size: 16.5px;
  font-weight: 400;
  letter-spacing: -0.41px;
  line-height: 1.2;
  text-align: justify;
  color: #232323;
  margin-bottom: 43px;
}

.block_header__btn {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding: 15px 57px;
  border-radius: 5px;
  border: solid 3px #232323;
  background-color: #232323;
  color: #fff;
  cursor: pointer;
}

.block_header__btn:hover {
  background-color: #e9e7e7;
  color: #232323;
  border: solid 3px #232323;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.block_header-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 49px 480px;
  background: url("../img/bg-main.png") no-repeat;
}

.block_header-btm__title {
  font-family: 'Cardo', serif;
  font-size: 55.5px;
  letter-spacing: -1.39px;
  text-align: center;
  color: #e9e7e7;
  margin-bottom: 33px;
}

.block_header-btm__descr {
  font-family: 'Lato', serif;
  font-size: 16.5px;
  font-weight: 400;
  letter-spacing: -0.41px;
  color: #e9e7e7;
  margin: 0px 22px 39px;
}

.block_header-btm__btn {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding: 15px 57px;
  border: solid 3px #e9e7e7;
  border-radius: 5px;
  background-color: #232323;
  color: #fff;
  cursor: pointer;
}

.block_header-btm__btn:hover {
  background-color: #e9e7e7;
  color: #232323;
  border: solid 3px #232323;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.block-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 166px 115px 0;
  margin-bottom: 408px;
}

.block-main__item {
  margin-right: 59px;
}

.block-main__item:last-child {
  margin-right: 0px;
}

.block-main__item span {
  display: block;
  width: 53px;
  height: 4px;
  background-color: #232323;
  margin-bottom: 26px;
}

.block-main__pic {
  margin-bottom: 30px;
}

.block-main__title {
  width: 230px;
  font-family: 'Cardo', serif;
  font-size: 36.5px;
  color: #232323;
  margin-bottom: 26px;
}

.block-main__descr {
  font-family: 'Lato', sans-serif;
  font-size: 16.5px;
  font-weight: 400;
  letter-spacing: -0.41px;
  text-align: justify;
  color: #232323;
}

.block-airpic {
  text-align: center;
  margin-bottom: 269px;
}

.block-airpic__icon {
  margin-bottom: 61px;
}

.block-airpic__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-airpic__title {
  width: 60%;
  font-family: 'Cardo', serif;
  font-size: 98px;
  color: #232323;
  margin-bottom: 63px;
}

.block-airpic__title span {
  display: inline-block;
  font-style: italic;
  border-bottom: 5px solid #232323;
}

.block-airpic__cont-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-airpic__cont-text span {
  width: 3px;
  height: 24px;
  background-color: #232323;
  margin-right: 6px;
}

.block-airpic__text {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -0.63px;
  color: #232323;
  margin-right: 6px;
}

.block-airpic__text:last-child {
  margin-right: 0px;
}

.block-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 115px;
  position: relative;
  margin-bottom: 48px;
}

.block-descr__cont-pic {
  position: relative;
}

.block-descr__tape {
  position: absolute;
  left: -30px;
  top: 33%;
}

.block-descr__picture {
  margin-right: 43px;
}

.block-descr__cont-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 78px;
}

.block-descr__title {
  font-family: 'Cardo', serif;
  font-size: 36.5px;
  color: #232323;
  text-decoration: underline;
  line-height: 1.37;
}

.block-descr__text {
  font-family: 'Lato', sans-serif;
  font-size: 16.5px;
  font-weight: 400;
  text-align: justify;
  color: #232323;
  letter-spacing: -0.41px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.block-descr__arrow-icon {
  position: absolute;
  right: 114px;
  bottom: 45px;
}

.descr-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 155px 0 155px 118px;
  background: url(../img/font-x.png);
  min-height: 872px;
  margin-bottom: 176px;
}

.descr-btm__cont {
  margin-right: 109px;
}

.descr-btm__title {
  font-family: 'Cardo', serif;
  font-size: 55.5px;
  color: #e9e7e7;
  margin-bottom: 110px;
}

.descr-btm__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #e9e7e7;
  margin-bottom: 19px;
}

.descr-btm__text {
  font-family: 'Lato', sans-serif;
  font-size: 16.5px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.41px;
  line-height: 1.2;
  color: #e9e7e7;
  margin-bottom: 60px;
}

.descr-btm__text:last-child {
  margin-bottom: 0px;
}

.descr-btm__picture {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
}

.descr-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 114px;
  margin-bottom: 300px;
}

.descr-menu__cont {
  margin-right: 81px;
}

.descr-menu__title {
  font-family: 'Cardo', serif;
  font-size: 81.5px;
  color: #232323;
  margin-bottom: 93px;
}

.descr-menu__text {
  font-family: 'Lato', sans-serif;
  font-size: 16.5px;
  letter-spacing: -0.41px;
  text-align: justify;
  color: #232323;
  display: inline-block;
  border-top: 3px solid #232323;
  padding: 13px 40px;
}

.descr-menu__text:last-child {
  border-bottom: 3px solid #232323;
}

.descr-menu__text::after {
  content: '+';
  font-size: 35px;
  margin-left: 153px;
  vertical-align: middle;
}

.footer {
  text-align: center;
  margin-bottom: 199px;
}

.footer__title {
  max-width: 630px;
  font-family: 'Cardo', serif;
  font-size: 81.5px;
  text-align: center;
  color: #232323;
  display: inline-block;
  margin-bottom: 53px;
}

.footer__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 114px;
  position: relative;
}

.footer__item {
  position: relative;
  margin-right: 22px;
  padding: 72px 41px 69px;
  border-radius: 10px;
  border: solid 3px #232323;
}

.footer__item:last-child {
  margin-right: 0px;
}

.footer__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #232323;
  margin-top: 44px;
}

.footer__text {
  font-family: 'Lato', sans-serif;
  font-size: 16.5px;
  text-align: justify;
  letter-spacing: -0.41px;
  color: #6d6d6d;
  margin-top: 24px;
}

.bi-arrow-left {
  position: absolute;
  left: calc(-45px);
  top: calc(50% - 8%);
  background-color: #e9e7e7;
  border-radius: 10px;
  border: solid 3px #232323;
  width: 83px;
  height: 73px;
  padding: 10px 15px;
}

.bi-arrow-left:hover {
  background-color: #232323;
  color: #e9e7e7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.bi-arrow-right {
  position: absolute;
  right: calc(-45px);
  top: calc(50% - 8%);
  background-color: #e9e7e7;
  border-radius: 10px;
  border: solid 3px #232323;
  width: 83px;
  height: 73px;
  padding: 10px 15px;
}

.bi-arrow-right:hover {
  background-color: #232323;
  color: #e9e7e7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.footer-floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 115px;
  margin-bottom: 214px;
}

.footer-floor__title {
  font-family: 'Cardo', serif;
  font-size: 81.5px;
  color: #232323;
  margin-bottom: 37px;
}

.footer-floor__btn {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  padding: 15px 150px 15px;
  border-radius: 5px;
  border: solid 3px #232323;
  background-color: #232323;
  color: #e9e7e7;
  cursor: pointer;
}

.footer-floor__btn:hover {
  background-color: #e9e7e7;
  color: #232323;
  border: solid 3px #232323;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer-floor__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
  margin-right: 6px;
}

.footer-floor__area {
  margin-bottom: 22px;
  padding: 18px 0 18px 26px;
  border-radius: 5px;
  border: solid 4px #151414;
  resize: none;
}

.footer-floor__area::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #232323;
}

.footer-floor__area:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #232323;
}

.footer-floor__area::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #232323;
}

.footer-floor__area::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #232323;
}

.footer-floor__area:last-child {
  margin-bottom: 0;
}

.textarea {
  padding-bottom: 170px;
}

.block_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/font-foot.png);
  min-height: 575px;
  padding: 118px 0 0 115px;
}

.block_foot__title {
  font-family: 'Cardo', serif;
  font-size: 63.5px;
  color: #232323;
  margin-right: 120px;
}

.block_foot__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_foot__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 97px;
}

.block_foot__menu ul li {
  width: 223px;
  height: 48px;
}

.block_foot__menu ul li:last-child {
  margin-bottom: 0;
}

.block_foot__menu ul:last-child {
  margin-right: 0;
}

.block_foot__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #232323;
  margin-bottom: 52px;
}

.block_foot__links {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.53px;
  color: #232323;
  text-transform: capitalize;
}

.block_foot__links:hover {
  font-weight: 900;
}

.block_foot__text {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.53px;
  margin-left: 50px;
  color: #232323;
}

@media (max-width: 992px) {
  .block_head {
    padding: 78px 115px 0 112px;
  }
  .block_head__links {
    font-size: 24px;
  }
  .block_header {
    padding: 0px 115px 0 110px;
  }
  .block_header__title {
    font-size: 85px;
  }
  .block_header__descr {
    font-size: 18px;
  }
  .block_header-btm__descr {
    font-size: 18px;
  }
  .block-main__descr {
    font-size: 18px;
  }
  .block-descr__text {
    font-size: 18px;
  }
  .descr-btm__text {
    font-size: 18px;
  }
  .descr-menu__text {
    font-size: 18px;
    padding: 13px 18px;
  }
  .footer__text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
    background: url("../img/bg-color.png") center no-repeat;
  }
  .block_head {
    padding: 50px 50px 0 50px;
  }
  .block_head__links {
    margin-right: 70px;
    font-size: 48px;
  }
  .block_head__btn {
    font-size: 34px;
    padding: 27px 90px;
  }
  .block_head__btn:hover {
    background-color: #232323;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .block_header {
    padding: 0px 50px 0 50px;
  }
  .block_header__cont {
    margin-bottom: 0;
    margin-right: 60px;
  }
  .block_header__title {
    font-size: 106px;
    margin-bottom: 0;
  }
  .block_header__descr {
    font-size: 28px;
    margin-bottom: 38px;
  }
  .block_header__btn {
    font-size: 34px;
    padding: 27px 90px;
  }
  .block_header__btn:hover {
    background-color: #e9e7e7;
    color: #232323;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .block_header__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .block_header-btm {
    padding: 30px 330px;
    background: url(../img/bg-main.png) center/125% no-repeat;
  }
  .block_header-btm__title {
    font-size: 85px;
  }
  .block_header-btm__descr {
    font-size: 28px;
  }
  .block_header-btm__btn {
    font-size: 34px;
    padding: 27px 90px;
  }
  .block_header-btm__btn:hover {
    background-color: #e9e7e7;
    color: #232323;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
/*# sourceMappingURL=style.css.map */